html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/***************************** CSS Reset ************************************/

body{
    background-color: darkslategray;
    color: beige;
    font-family: 'Ubuntu', sans-serif;
}
.clock{
    width: 50vw;
    height: 80vh;
}
#time{
    padding-top: 15vh;
}
h1{
    font-size: 12em;
    font-weight: 500;
    text-align: center;
}
h2{
    font-size: 7em;
    text-align: center;
}
h3{
    font-size: 6em;
    text-align: center;
    padding-top: 3%;
}
.weather{
    float: right;
    height: 80vh;
    width: 50vw;
}
#current{
    padding-top: 3vh;
    font-size: 8em;
}
#temp{
    padding-top: 14vh;
    font-size: 10em;
}
#highLow{
    font-size: 5.7em;
    padding-top: 3vh;
}
/*#lionAlert{
    display: none;
}*/
/*#city{
    width: 100vw;
    padding-top: 5vh;
}*/