html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/***************************** CSS Reset ************************************/

body{
    background-color: darkslategray;
    color: beige;
    font-family: 'Ubuntu', sans-serif;
}
#clock{
    width: 50vw;
    height: 60vh;
    padding: 20vh 0vh 20vh 0vh;
}
#time{
    font-size: 11em;
}
#day{
    padding-top: 5vh;
    font-size: 5em;
}
#date{
    padding-top: 5vh;
    font-size: 6em;
}
h1{
    font-weight: 500;
    text-align: center;
}
h2{
    text-align: center;
}
h3{
    text-align: center;
}
#weather{
    float: right;
    height: 60vh;
    width: 50vw;
    padding: 20vh 0 20vh 0;
}
#current{
    padding-top: 5vh;
    font-size: 5em;
}
#temp{
    /*padding-top: 14vh;*/
    font-size: 11em;
    font-weight: 500;
}
#highLow{
    font-size: 6em;
    padding-top: 5vh;
}
#lionAlert{
    background-color: #ff0011;
    height: 100vh;
    position: relative;
}
#lATitle{
    color: beige;
    text-align: center;
    font-size: 9.5em;
    font-weight: 500;
    padding-top: 4vh;
}
#lADescription{
    font-size: 5.5em;
    padding: 5vh 10vw 0 10vw;
    color: beige;
}